/* 
    General Styles
*/

#navId{
    background: #020202;
}

.card-block {
    min-height: 220px;
}

body{
 background: url(https://i.pinimg.com/originals/7f/35/61/7f3561dbe777c4c2c69a0a7aa6060589.jpg);
}

.footer{
    background: #020202;

}


i:hover {
  cursor: pointer
}


